@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <h1 class="h3 mb-3">Login</h1>
        <form method="post" asp-action="LoginPost">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" id="username" name="username" autocomplete="username" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" autocomplete="current-password" />
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            <a class="btn btn-link" href="/account/register">Register</a>
        </form>
    </div>
</div>
